*{
padding: 0;
margin: 0;
box-sizing: border-box;

}

html,body {
    background-color: #19002e ;
}

.App {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    font-family: lato,sans-serif;
}

.contador_logo_contenedor{
width: 100%;
display: flex;
align-items: center;
justify-content: center;
margin: 20px;

}

.contador-logo{
    height: 200px;
}

.contenedor_principal{
    height: 550px;
    min-width: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}